bin/
obj/
Debug/
Release/
x64/
x86/
AnyCPU/
TestResult*/
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log
*.pdb
*.mdb
*.opendb
*.VC.db
*.dbmdl
*.nupkg
*.snupkg
packages/
.nuget/
artifacts/
publish/
app.publish/
*.publishsettings
*.DotSettings.user
*.tmp
*.temp
*.bak
*.swp
*.pidb
*.svclog
_ReSharper*/
[Rr]elease/
[Dd]ebug/
